/* line 5, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.news,
.product-details {
color:#31353e;
}

a {
	cursor: pointer;
}

/* line 1, ../sass/_main.scss */
.header {
  padding: 50px 0;
}
/* line 4, ../sass/_main.scss */
.header .container {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 10, ../sass/_main.scss */
.header .nav ul {
  display: -webkit-flex;
  display: flex;
}
/* line 13, ../sass/_main.scss */
.header .nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  border-radius: 20px;
}
/* line 21, ../sass/_main.scss */
.header .nav a {
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Slab", sans-serif;
  text-decoration: none;
  color: #31353e;
}
/* line 27, ../sass/_main.scss */
.header .nav a :hover {
  color: #fff;
}

/* line 35, ../sass/_main.scss */
.btn {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
  color: #612316;
}
/* line 41, ../sass/_main.scss */
.btn :hover {
  background-color: #dd4b2b;
  color: #fff;
  cursor: pointer;
}
a.btn {
  display: inline-block;
  text-decoration: none;
}

body {
  font: 300 14px "Roboto", sans-serif;
  line-height: 30px;
}

.container {
	max-width:1170px;
	margin:auto;
	display:flex;
}
.top h1 {
  font: 400 72px "Roboto Slab", sans-serif;
  margin-bottom: 25px;
}
.menu h3 {
  font: 30px "Roboto Slab", sans-serif;
  margin-bottom: 20px;
  line-height: 40px;
  color: #FFF;
}
h2 {
  font: 30px "Roboto Slab", sans-serif;
  margin-bottom: 10px;
	font-weight: 700;
}
h3 {
  font: 24px "Roboto Slab", sans-serif;
  margin-bottom: 10px;
	font-weight: 700;
}
.top h1, .top p, .sign-up input, .details a.btn{
  color: #fff;
}

.top p {
  font: 30px "Roboto Slab", sans-serif;
}

.top li p {
  display: block;
  font: 300 15px "Roboto", sans-serif;
	line-height: 30px;
}
::-webkit-input-placeholder {
  font: 400 18px "Roboto Slab";
  color: #fff;
}
.btn, .sign-up input, .details a.btn{
  font: 400 18px "Roboto Slab", sans-serif;
}
.details p, a.btn {
  font: 300 15px "Roboto", sans-serif;
}
a.btn {
  color: #31353e;
}
.nav {
  display: -webkit-flex;
  display: flex;
}
.nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  border-radius: 25px;
}
.nav li a {
  font: 400 18px "Roboto Slab", sans-serif;
  text-decoration: none;
  color: #31353e;
}
.nav li:hover a {
  color: #fff;
}
.nav li:hover {
  background-color: #dd4b2b;
  cursor: pointer;
}
.main-section {
  background: url("../img/main-section.jpg") no-repeat center top;
  background-size:cover;
  color: #fff;
	padding: 500px 0 140px 0;
	text-align: center;
}
.main-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
	width: 157px;
	height: 28px;
}

.main-section .btn {
	margin-top: 80px;
}
.wrap-img {
  border: 5px solid #fff;
  border-radius: 50%;
  height: 134px;
  width: 134px;
  overflow: hidden;
	margin: auto;
}
.wrap-img img {
  height: 100%;
}

.menu {
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
  width: 100%;
	margin-top: 120px;
}
.menu li {
	text-align: center;
  width: 360px;
  margin: 15px;
}
.news {
  background-color: #edeff1;
  padding: 100px 0;
}
.news .container {
  flex-wrap: wrap;
  justify-content: center;
}
.news-list {
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  width: 100%;
	margin-top: 80px;
}
.news-list li {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 371px;
	margin: 9px;
}
.art {
  padding: 40px 40px 0 40px;
  text-align: center;
}
.art p {
  margin-bottom: 35px;
}

.newsletter {
  color: #fff;
  background: url("../img/form-section.jpg") no-repeat center top;
	min-height: 390px;
	padding-top: 50px
}
.newsletter .container {
	max-width: 540px;
  flex-wrap: wrap;
	align-content: center;
  align-items: center;
	text-align: center;
}

.newsletter h2{
	font-size: 30px;
	font-weight: 700;
  text-align: center;
  width: 100%;
  color: #fff;
}
.newsletter p {
	padding: 25px 0 40px 0;
}
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up input {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  height: 53px;
  min-width: 360px;
  padding: 0 60px 0 10%;
  border: 1px solid #c5c6c5;
  border-radius: 25px;
  box-sizing: border-box;
}
.sign-up button {
  outline: none;
  margin-left: -10%;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -webkit-transition-property: color;
}

.sign-up button:hover {
	background: #612316;
	color:#FFF;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -webkit-transition-property: color;
}
.product-details {
  background-color: #fff;
  padding-bottom: 40px;
}
.product-img{
  width: 565px;
  overflow: hidden;
}
.product-details ul {
  display: flex;
  flex-wrap: wrap;
  min-width: 325px;
}
.product-details ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.details {
  padding-top: 60px;
	margin-bottom: 10px;
  max-width: 550px;
}
.details p {
  margin-bottom: 30px;
}
.details .btn {
  background-color: #4b4e73;
	color:#FFF;
}
.details .btn:hover {
  background-color: #dd4b2b;
	cursor: pointer;
}
.product-details ul li:nth-child(odd) .details {
  order: -1;
}
.product-details ul li:nth-child(odd) .details .btn {
  background-color: #dd4b2b;
}
.product-details ul li:nth-child(odd) .details .btn:hover {
  background-color: #4b4e73;
}
.footer-list {
  background-color: #d75d0e;
  padding: 90px 0;
}

.footer-list .container {
	display: flex;
}

.footer-list a {
	font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.footer-list a:hover {
  text-decoration: underline;
}
.footer-list ul {
  width: 390px;
	text-align: center;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 90px 0;
  background: url("../img/form-section.jpg") no-repeat center top;
}
.footer-bottom p {
  width: 100%;
  text-align: center;
	color:#FFF;
	font-size: 18px;
}
.footer-bottom p strong {
	font-weight: 700;
}





		

.main-section .btn,
.art .btn{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
	cursor: pointer;
}

.main-section .btn:before, .art .btn:before {
    content: '';
    position: absolute;
    border: #612316 solid 2px;
  border-radius: 25px;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
			}

.art .btn:before {
	border: #31353e solid 1px !important;
}

.main-section .btn:hover:before, .art .btn:hover:before, .main-section .btn:focus:before, .art .btn:focus:before, .main-section .btn:active:before, .art .btn:active:before {
  opacity: 1;
}

.btn:hover {
	cursor: pointer;
}
